.project-card {
  &__image {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    img {
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: top;
    }
  }
}