@use '../../App.scss' as *;

.gitstream {
  border-radius: 15px;
  margin-top: 2rem;

  .git-title {
    font-size: 2rem;
    font-weight: 600;
    color: $text;
    text-align: center;
  }

  .git-subtitle {
    font-weight: 500;
    color: $text;
    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    align-items: center;

    svg {
      height: 1.2rem;
    }
  }

  .git-repo {
    @include flex(unset, center);
    flex-direction: column;
    color: $text;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: $container;
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    filter: $drop-shadow;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      opacity: 1;
      background-color: $subcontainer;
    }

    > .name {
      font-weight: 600;
      color: $secondary;
    }
  }
}