@use "../../App.scss" as *;

.inbox {
  padding: 5rem 1rem 1rem;
}

.inbox-left {
  width: 30%;
  max-width: 100%;

  .mail-list {
    &-entry {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0.5rem;
      margin: 0.3rem 0;
      background-color: #fff1;
      border-radius: 10px;
      white-space: pre;
      text-overflow: ellipse;
      font-weight: 500;

      &:hover {
        cursor: pointer;
        background-color: #fff2;
      }
    }
  }
}

.inbox-fixed-container {
  position: relative;
  width: 70%;  
  max-width: 1440px;
  transform: translateX(-1rem);
  display: flex;
  justify-content: right;
}

.inbox-right {
  position: fixed;
  width: 95%;
  max-width: 100%;
  background-color: #fff1;
  border-radius: 1rem;
  border: 1px solid #fff2;
  padding: 0;
  height: 90vh;
  z-index: -1;

  .message-head {
    border-bottom: 1px solid #fff2;
    padding: 1rem 1.5rem 0.2rem;
    background-color: #fff1;

    div {
      display: flex;
      justify-content: space-between;
    }
  }

  .message-body {
    padding: 1.5rem;
  }
}

.mail-list-entry.new {
  background-color: #fff4;
}

.mail-list-entry.active {
  transform: translateX(1rem);
  border-left: 5px solid #fff4;
}