@use "../../App.scss" as *;

.home {
  .bio {
    height: calc(100lvh - 4rem);

    @include tablet {
      height: calc(100lvh - 8rem);

      @media (min-height: 992px) or (max-height: 568px) {
        height: fit-content;
      }
    }

    @include mobile {
      @media (min-width: 475px) and (min-height: 600px) {
        padding: 0 3rem;
      }
    }

    .bio-container {
      display: flex;
      flex-direction: column;
      height: calc(100svh - 4rem);
      padding: 2rem 0 2rem;
      justify-content: space-between;
      filter: $drop-shadow;

      @include tablet {
        height: calc(100svh - 8rem);

        @media (min-height: 992px) or (max-height: 568px) {
          height: fit-content;
        }
      }
    }

    .bio-top {
      line-height: 1;
      color: $text;
      container-type: inline-size;
      filter: $drop-shadow;

      .bio-img {
        display: flex;
        justify-content: center;
        margin: 0rem 0 2rem;
      }

      img {
        height: 8rem;
        width: 8rem;
        border-radius: 50%;
        justify-self: center;
        filter: grayscale(1);
      }

      .bio-title {
        color: $text;
        font-size: 9.7cqw;
        margin-bottom: 0.5rem;

        span {
          color: $primary;
        }
      }

      .bio-title-2 {
        font-size: 12cqw;
        color: $primary;
        font-family: $font-family-2;
        font-weight: 700;

        span {
          color: $text;
        }
      }

      h2 {
        font-weight: 600;
        text-align: center;
      }

      > p {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.5;
        color: $text2;
        margin: 2rem 0;

        @include tablet {
          @media (min-height: 800px) {
            font-size: 1.2rem;
          }
        }
      }
    }

    .bio-middle {
      display: flex;
      font-family: monospace;
      font-size: 1rem;
      color: $text;

      @include tablet {
        @media (min-height: 800px) {
          font-size: 1.1rem;
        }
      }

      .bio-spacer {
        width: 0.5rem;
        background-color: $primary;
        border-radius: 0.5rem;
        margin-right: 2rem;
      }

      .bio-navigator > *:nth-of-type(2) {
        margin: 1rem 0;
      }
    }

    .bio-bottom {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      .bio-contact {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        font-weight: 500;

        a {
          color: $secondary;
          margin: 0.25rem 0;
          width: fit-content;
        }
      }

      .bio-links {
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
        }

        input {
          background: $primary-gradient;
          border-radius: 50px;
          border: none;
          color: $text;
          font-weight: 600;
          font-size: 0.9rem;
          height: 2.25rem;
          padding: 0 1.5rem;

          &:hover {
            filter: brightness(0.8);
            cursor: pointer;
          }
        }

        .social-link {
          margin: 0 1.5rem 0 0;

          svg {
            height: 2.25rem;
            width: 2.25rem;

            .fill-path {
              fill: #e1e1e1;
            }

            &:hover {
              .fill-path {
                fill: #c0c0c0;
              }
            }
          }
        }
      }
    }

    .title {
      color: $text;
      font-weight: 500;
      font-size: 2.4rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .social-link {
      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        height: 3rem;
        margin-right: 10px;
      }
    }
  }
}

aside.home {
  padding: 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    padding: 0.5rem 1rem 0;
  }
}

p {
  color: $text;
  font-weight: 400;
  font-size: 1.1rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

::placeholder {
  color: $placeholder;
}

.home-footer {
  width: calc(100% - 3rem);
  background-color: $container;
  border-radius: 20px 20px 0 0;
  max-width: calc(1440px - 3rem);
  margin: auto;
  padding: 0 1.5rem;
  filter: $drop-shadow;

  @include tablet {
    max-width: calc(600px - 2rem);
    width: calc(100% - 2rem);
    padding: 0rem 1rem 5rem;
  }

  input,
  textarea {
    background-color: $input;
    border: none;
    color: $text;
    font-weight: 500;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px $input inset !important;
      -webkit-text-fill-color: $text !important;
    }
  }

  > div {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .form-text {
      width: 100%;
    }

    @include mobile {
      padding: 0;
    }

    @include tablet {
      .form-text {
        width: 100%;
      }
    }
  }

  @include tablet {
    grid-template-columns: auto;
  }
}
