@use '../../App.scss' as *;

.home {
  .bio {
    height: calc(100lvh - 4rem);
    display: flex;

    @include tablet {
      height: calc(100lvh - 8rem);
      align-items: center;
    }

    @include mobile {
      @media (min-width: 475px) and (min-height: 600px) {
        padding: 0 3rem;
      }
    }
    
    .bio-container {
      display: flex;
      flex-direction: column;
      height: calc(100svh - 4rem);
      padding: 3rem 0 3rem;
      justify-content: space-between;
      max-height: 900px;
    }

    .bio-middle {
      display: flex;
      font-family: monospace;
      font-size: 1rem;
      color: $white2;

      @include tablet {
        @media (min-height: 800px) {
          font-size: 1.1rem;
        }
      }

      .bio-spacer {
        width: 0.5rem;
        background-color: $red2;
        border-radius: 0.5rem;
        margin-right: 2rem;
      }

      .bio-navigator > *:nth-of-type(2) {
        margin: 1rem 0;
      }
    }

    .bio-bottom {
      display: flex;
      flex-direction: column;

      .bio-contact {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        font-weight: 500;
        
        a {
          color: $yellow2;
          margin: 0.25rem 0;
          width: fit-content;
        }
      }

      .bio-links {
        display: flex;
        margin: 1rem 0 0;
        justify-content: space-between;

        > div {
          display: flex;
        }

        > input {
          background-color: #de2f4ccc;
          border-radius: 50px;
          border: none;
          color: #fff;
          font-weight: 600;
          font-size: 0.9rem;
          height: 2.25rem;
          padding: 0 1.5rem;

          &:hover {
            background-color: #de4f3caa;
            cursor: pointer;
          }
        }

        .social-link {
          margin: 0 1.5rem 0 0;

          svg {
            height: 2.25rem;
            width: 2.25rem;
  
            .fill-path {
              fill: #e1e1e1;
            }
  
            &:hover {
              .fill-path {
                fill: #c0c0c0;
              }
            }
          }
        }
      }
    }

    .title {
      color: #e1e1e1;
      font-weight: 500;
      font-size: 2.2rem;

      @include mobile {
        font-size: 2rem;
      }
    }

    .job {
      color: $red;
    }

    .link-red {
      color: $yellow2;
    }

    .social-link {
      color: $yellow2;
      border-radius: 50%;
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        height: 3rem;
        margin-right: 10px;
      }
    }
  }
}

aside.home {
  padding: 2rem 1.5rem 3rem;

  @include tablet {
    padding: 0.5rem 1.5rem 0;
  }
}

p {
  color: #e1e1e1cc;
  font-weight: 500;
  font-size: 1.1rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

::placeholder {
  color: #aaa;
}

.home-footer {
  width: calc(100% - 3rem);
  background-color: #ffffff11;
  border-radius: 20px 20px 0 0;
  max-width: calc(1440px - 3rem);
  margin: auto;
  padding: 0 1.5rem;

  @include tablet {
    max-width: calc(600px - 3rem);
    width: calc(100% - 3rem);
    padding: 0rem 1.5rem 5rem;
  }

  input,
  textarea {
    background-color: #444;
    border: none;
    color: #e1e1e1;
    font-weight: 500;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #444 inset !important;
      -webkit-text-fill-color: #e1e1e1 !important;
    }
  }

  > div {
    width:100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1.5rem;

    .form-text {
      width: 100%;
    }

    @include mobile {
      padding: 0;
    }

    @include tablet {
      .form-text {
        width: 100%;
      }
    }
  }

  @include tablet {
    grid-template-columns:auto;
  }
}

.bio-top {
  > p {
    margin-top: 0.5rem;
    
    @include tablet {
      @media (min-height: 800px) {
        font-size: 1.2rem;
      }
    }
  }
}