@use '../App.scss' as *;

.form-modal-container {
  position: fixed;
  z-index: 1500;
  top: 4rem;
  bottom: 4rem;
  left: 0;
  right: 0;
  background-color: #0f0f0fdd;

  @include desktop {
    bottom: 0;
  }

  .form-modal {
    height: 100%;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
  }

  .form-close-container {
    position: relative;
    width: 100vw;
    padding-left: calc(100% - 3rem);
    
    .form-close {
      display: block;
      position: fixed;
      margin: auto;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      font-weight: 900;
      border-radius: 4rem;
      background-color: #0000;
      border: none;
      color: red;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.verify-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #000b;
  z-index: 2000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .verify-delete {
    padding: 40px;
    background-color: #fff2;
    border-radius: 20px;

    .verify-delete-btns {
      display: flex;
      justify-content: center;

      input {
        margin: 20px 10px 0;
        width: 80px;
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 16px;

        &.verify-delete-yes {
          background-color: #88e150;
        }

        &.verify-delete-no {
          background-color: #cc0000;
        }
      }
    }
  }
}

div.tech-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  > div {
    display:flex;
    flex-direction: column;
    margin: 1rem;

    > div {
      display: flex;
      width: 250px;

      select {
        width: 90%;
        border-radius: 10px;
        padding: 5px;
      }

      button {
        width: 10%;
        border-width: 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &.tech-used-container {
      button {
        background-color: crimson;
        border-color: crimson;
      }
    }

    &.tech-unused-container {
      button {
        background-color:yellowgreen;
        border-color: yellowgreen;
      }
    }
  }
}

.form-image-container {
  width: 400%;
  max-width: 100%;

  label {
    margin-right: 10px;
  }
}

// TECH FORM ONLY
.custom-tech {
  display: flex;
  align-items: center;

  #custom {
    height: 2.5rem;
    border-radius: 1rem 0 0 1rem;
    border-width: 2px;
    width: 200px;
    border-color: #000;
  }

  button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0 1rem 1rem 0;
    border-width: 2px;
    background-color: yellowgreen;
    border-color: #000;
    margin-left: 3px;
  }
}

// SECTION FORM ONLY
.section-type-container {
  display: flex;
  width: 280px;
  max-width: 90vw;
  margin-bottom: 20px;

  .section-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    label {
      font-weight: 600;
    }

    input {
      width: 20px;
      height: 20px;
    }
  }
}


// ===============================
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: fit-content;
  max-width: 100%;
  padding-top: 1rem;

  .radio {
    input {
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  .form-title-container {
    display: flex;
    align-items: center;

    input {
      border-style: solid;
      height: 30px;
      width: 30px;
      background-color: #00000000;
      color: #00000000;
      padding: 0;
      margin: 0 5px;

      &:hover {
        filter: brightness(0.8);
        cursor: pointer;
      }
    }

    input#form-right {
      border-color: transparent transparent transparent gold;
      border-width: 1.1rem 0 1.1rem 1.1rem;
    }

    input#form-left {
      border-color: transparent gold transparent transparent;
      border-width: 1.1rem 1.1rem 1.1rem 0;
    }

    h1 {
      margin: 0 1rem;
    }
  }

  .form-text {
    width: 400px;
    max-width: 100%;
    border-radius: 15px;
    margin: 0.3rem 0;
    padding: 10px 10px;
    font-size: 0.9rem;
    resize: none;
  }

  .submit-container {
    display: flex;
    align-items: center;
  }

  .form-submit {
    padding: 8px 30px;
    margin: 0.5rem 0;
    width: fit-content;
    font-size: 16px;
    border-radius: 1rem;

    &#delete {
      background-color: #cc0000;
      border-color: #cc0000;
      margin-right: 2rem;
    }
  }
}

.message-form-container {
  padding: 0 1.5rem;
  width: fit-content;
  max-width: 100%;

  @include tablet {
    max-width: 100%;
    width: 600px;
    margin: auto;
  }

  .message-form {
    width: 100%;

    @include desktop {
      padding: 1rem 1rem 1rem;
    }

    .form-text {
      border-radius: 5px;

      @include mobile {
        width: 100%;
      }
    }

    .radio-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;
      width: 300px;
      max-width: 100%;
      align-self: self-start;

      .radio-title {
        font-weight: 500;
      }

      .radio {
        display: flex;
        align-items: center;
      }

      @include mobile {
        width: 100%;
      }
    }

    .radio-btn {
      margin: 0 5px;

      @include mobile {
        margin: 0 3px;
      }
    }
  }
}

.contact-form-info {
  display: flex;
  width: 800px;
  max-width: 100%;

  @include tablet {
    flex-direction: column;
  }

  @include desktop {
    input:last-of-type {
      margin-left: 1rem;
    }
  }
}

.message-success-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;
  background-color: #000b;
  display: flex;
  justify-content: center;
  align-items: center;

  &.hide {
    display: none;
  }

  .message-success-modal {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    background-color: #444a;
    padding: 2rem 3rem;
    border-radius: 10px;

    h3 {
      color: $yellow2;
      margin-bottom: 1rem;
    }

    input {
      background-color: $white2;
      width: fit-content;
      padding: 0.5rem 2rem;
      border-radius: 10px;
      border-color: #fffa;
      font-weight: 700;
    }
  }
}

.inline-form-text {
  display: flex;
  width: 400px;
  max-width: 100%;
  align-items: center;
  justify-content: flex-start;

  label {
    width: fit-content;
    margin-right: 1rem;
  }

  .form-text {
    width: fit-content;
  }
}