@use '../App.scss' as *;

.form-modal-container {
  position: fixed;
  z-index: 1500;
  top: 4rem;
  bottom: 4rem;
  left: 0;
  right: 0;
  background-color: #0f0f0fdd;

  @include desktop {
    bottom: 0;
  }

  .form-modal {
    height: 100%;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
  }

  .form-close-container {
    position: relative;
    width: 100vw;
    padding-left: calc(100% - 3rem);
    
    .form-close {
      display: block;
      position: fixed;
      margin: auto;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 2rem;
      font-weight: 900;
      border-radius: 4rem;
      background-color: #0000;
      border: none;
      color: red;

      &:hover {
        cursor: pointer;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    width: fit-content;
    max-width: 100%;
    padding-top: 1rem;

    .form-text {
      width: 400px;
      max-width: 100%;
      border-radius: 15px;
      margin: 0.3rem 0;
      padding: 10px 10px;
      font-size: 12px;
    }

    .form-submit {
      padding: 8px 30px;
      margin: 0.5rem 0;
      width: fit-content;
      font-size: 16px;
      border-radius: 1rem;
    }
  }
}