@use '../../App.scss' as *;

.echo-login,
.echo-logout {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  svg {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.45rem 0 0.15rem;
  }

  span {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fffe;
    border-radius: 0.4rem;
    border: none;
    padding: 0.5rem 1rem;
  }

  &:hover {
    transform: scale(1.05);

    span {
      color: #fff;
    }
  }
}

.echo-login {
  border: 1px solid #afa1;
  background-color: #113311;

  span {
    background-color: #afa2;
  }

  &:hover {
    background-color: #afa5;

    span {
      background-color: #afa5;
    }
  }
}

.echo-logout {
  border: 1px solid #ffaaaa11;
  background-color: #881111;

  span {
    background-color: #ffaaaa22;
    padding: 0.5rem 1.5rem;
  }

  &:hover {
    background-color: #ffaaaa77;

    span {
      background-color: rgba(255, 170, 170, 0.333);
    }
  }
}