@use '../../App.scss' as *;

.header {
  position: fixed;
  width: 100%;
  background-color: $background;
  box-shadow: $box-shadow;
  z-index: 1000;

  @include tablet {
    @include flex(center, center);
  }

  .container {
    @include flex(center, space-between);

    #logo-home-link > svg {
      height: 2.75rem;
      fill: $text;
      stroke: $text;

      @include desktop {
        padding-left: 1.5rem;

        &:hover * {
          fill: $primary;
          stroke: $primary;
        }
      }
    }

    a {
      color: $text;
      font-size: 1.1rem;
    }

    > a {
      font-size: 2.5rem;
      font-family: "Bruno Ace SC";
      height: 4rem;

      @include flex(center, center);
    }

    .header-links {
      @include flex(center, space-around);
      font-weight: 600;
      height: 4rem;
      background-color: $background;

      @include tablet {
        margin-right: 0;
      }

      li {
        font-weight: 600;
        position: relative;
        margin-left: 2rem;

        @include tablet {
          margin-left: 0;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: width .5s ease;
          height: 2px;
          background-color: $primary;
        }

        &.active > a {
          color: $primary;
        }

        @include desktop {
          &:hover::after {
            width: 100%;
          }
        }
      }

      @include tablet {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        background-color: $background;
        box-shadow: $box-shadow;
      }
    }
  }
}

.header-menu {
  display: flex;
  align-items: center;

  &-btn {
    display: flex;
    padding: 0 2rem;
    height: 4rem;
    align-items: center;

    @include tablet {
      position: fixed;
      right: 0;
    }

    @include mobile {
      padding: 0 1.5rem;
    }

    &-bullet {
      background-color: $primary;
      height: 8px;
      width: 8px;
      border-radius: 50%;

      &.new {
        background-color: $tertiary;
        filter: contrast(2);
      }
    }

    &:hover {
      cursor: pointer;

      .header-menu-btn-bullet {
        filter: brightness(0.8) contrast(2);
      }
    }
  }

}

.header-dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  
  .header-dropdown-container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: right;
    padding: 0 1.5rem;
    
  }
  
  &-menu {
    position: fixed;
    top: 4rem;
    background-color: $background;
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 2px solid $subcontainer;
    border-top-width: 0;
    border-radius: 0 0 15px 15px;
    transition: transform 0.15s linear;
    z-index: 10;

    &.hide {
      transform: translateY(-100%);
    }

    .inbox-link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 1.1rem;
      padding: 0.8rem 0;
      margin: 0 0 0.5rem;
      border-radius: 10px;
      color: $text;

      &:hover {
        cursor: pointer;
        background-color: $highlight;
      }
    }
  }
}