@use '../../App.scss' as *;

.header {
  position: fixed;
  width: 100%;
  background-color: $black;
  box-shadow: $box-shadow;
  z-index: 1000;

  @include tablet {
    @include flex(center, center);
  }

  .container {
    @include flex(center, space-between);

    svg {
      height: 3rem;
      fill: $white;
      stroke: $white;

      @include desktop {
        padding-left: 1.5rem;

        &:hover {
          fill: $red;
          stroke: $red;
        }
      }

      img {
        color: red;
        fill: red;
        stroke: red;
      }
    }

    a {
      color: $white;
      font-size: 1.1rem;
    }

    > a {
      font-size: 2.5rem;
      font-family: "Bruno Ace SC";
      height: 4rem;

      @include flex(center, center);
    }

    .header-links {
      @include flex(center, space-around);
      font-weight: 600;
      height: 4rem;
      background-color: $black;
      
      @include desktop {
        margin-right: 3rem;
      }

      li {
        font-weight: 600;
        position: relative;
        margin-left: 2rem;

        @include tablet {
          margin-left: 0;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          transition: width .5s ease;
          height: 2px;
          background-color: $red;
        }

        &.active > a {
          color: $red;
        }

        @include desktop {
          &:hover::after {
            width: 100%;
          }
        }
      }

      @include tablet {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        background-color: $black;
        box-shadow: $box-shadow;
      }
    }
  }
}