@use '../../App.scss' as *;

.blog-detail {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;

  &-head {
    &-title {
      font-size: 2rem;
      filter: $drop-shadow;
    }

    &-category {
      font-size: 1.1rem;
      font-weight: 500;
      color: $blend;
      font-family: monospace;
      filter: $drop-shadow;
    }

    p {
      color: $text2 !important;
      filter: $drop-shadow;
    }
  }

  &-body {
    margin: 1.5rem 0 0;

    &-title {
      color: $text3;
      filter: $drop-shadow;

      &.s {
        font-size: 1.2rem;
        margin: 0.6rem 0;
      }

      &.m {
        font-size: 1.5rem;
        margin: 0.75rem 0;
      }
    }

    p {
      color: $text2;
      filter: $drop-shadow;
      margin-bottom: 0.5rem;
    }

    &-snippet {
      margin: 1.25rem 0;
      filter: $drop-shadow2;
      background-color: $subcontainer !important;
      padding: 1rem 1rem 0.5rem;
      font-size: 0.95rem;
      overflow-x: scroll;
      border-radius: 0.5rem;

      &.titled {
        margin: 0 0 1.25rem;
        border-radius: 0 0 0.5rem 0.5rem;;
      }

      &-title {
        background-color: $border;
        border-radius: 0.5rem 0.5rem 0 0;
        text-align: center;
        font-size: 1.25rem;
        font-variant: all-small-caps;
        line-height: 1.25rem;
        padding: 0 0 0.3rem;
      }
    }

    &-add {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
        border: none;
        padding: 0.3rem 0;
        font-size: 1rem;
        font-weight: 600;
        color: $background;
        border-radius: 0.5rem;
        background-color: $tertiary;
        margin: 0 1rem;
        width: 4rem;

        @include mobile {
          margin: 0 0.3rem;
        }

        &:hover {
          color: $secondary;
          cursor: pointer;
        }
      }
    }

    &-item {
      &.type-image {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
      }
    }
  }

  img {
    border-radius: 1.25rem;
    filter: $drop-shadow2;
    max-width: 100%;
  }

  video {
    max-width: 100%;
  }

  .add-content-directions {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    max-width: 1440px;
    height: 100%;

    &-container {
      position: fixed;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 50%;
      display: flex;
      justify-content: center;
      z-index: 0;
    }

    .add-content-up,
    .add-content-down {
      z-index: 1000;
      position: fixed;
      background-color: transparent;
      border-style: solid;
    }

    .add-content-up {
      transform: translateY(-2rem);
      border-width: 0 20px 20px;
      border-color: transparent transparent goldenrod transparent;
      
      &:hover {
        border-color: transparent transparent gold transparent;
        cursor: pointer;
      }
    }
  
    .add-content-down {
      transform: translateY(2rem);
      border-width: 20px 20px 0;
      border-color: goldenrod transparent transparent transparent;

      &:hover {
        border-color: gold transparent transparent transparent;
        cursor: pointer;
      }
    }
  }

  &-footer {
    margin: 1rem 0;
  
    .blog-detail-related {
      background-color: $subcontainer;
      border-radius: 1rem;
      padding: 0.5rem 1rem;
      filter: $drop-shadow2;
  
      @include mobile {
        padding: 0.5rem 0.75rem;
      }
  
      &-title {
        font-size: 1.4rem;
        color: $text;
      }
  
      &-card {
        display: flex;
        padding: 1rem;
        background-color: $border;
        border-radius: 1.5rem;
        margin: 0.5rem 0;
  
        @include tablet {
          flex-direction: column;
        }
  
        @include mobile {
          padding: 0.75rem;
        }
  
        &-image {
          width: 100%;
          max-width: 300px;
          line-height: initial;
  
          @include tablet {
            max-width: none;
            padding: 0.25rem;
          }
  
          @include mobile {
            padding: 0 0 0.25rem;
          }
  
          img {
            width: 100%;
            filter: inherit;
          }
        }
  
        &-info {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 0 1rem;
          flex-grow: 1;
          font-size: 1rem;
  
          @include tablet {
            padding: 0 0.5rem;
          }
        }
  
        &-text {
          height: calc(100% - 1.5rem);
          font-size: 1rem;
        }
  
        &-title {
          font-size: 1.125rem;
          color: $text;
        }
  
        &-meta {
          font-size: 1rem;
          color: $text2;
          margin: 0;
        }

        &-container {
          display: flex;
          align-items: center;
        }
      }
    }

    &-row {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  
    &-plus {
      margin: 0.25rem 0;
      height: 3rem;
      width: 3rem;
      fill: $tertiary;
      filter: contrast(1.25);
      border-radius: 8px;
  
      &:hover {
        cursor: pointer;
        filter: contrast(0.75);
      }
    }
  }
}