@use '../../App.scss' as *;

.project-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 5rem);
  padding-bottom: 2rem;
  padding-top: 2rem;

  &-background-container {
    position: fixed;
    display: flex;
    justify-content: stretch;
    max-width: 1440px;
    width: 100%;
    top: 0;
    height: 100lvh;
    z-index: -1;

    @include tablet {
      left: 0;
    }
  }

  &-background {
    filter: brightness(0.25);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-size: 30rem;
    width: calc(65% - 3rem);
    max-width: 920px;

    @include tablet {
      width: 100%;
      background-size: 25rem;
    }

    @include mobile {
      background-size: 20rem;
    }
  }

  .btn-back {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    &:hover{
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }

    svg {
      height: 4rem;
      width: 2rem;
      cursor: pointer;
      fill: $primary;
      filter: drop-shadow(0 0 1px $primary);
    }

    div {
      font-weight: 700;
      color: $text;

      @include mobile {
        display: none;
      }
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include mobile {
      flex-direction: row;
    }

    > * {
      cursor: pointer;
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    filter: $drop-shadow;

    @include mobile {
      flex-direction: column;
      padding-bottom: 0;
      margin-bottom: 0.5rem;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 0.3rem 0.8rem 0.3rem 0.5rem;
      border-radius: 20px;
      color: $text;

      div {
        display: flex;
        align-items: center;
      }

      &.website {
        margin-bottom: 1rem;
        background-color: $primary;

        @include mobile {
          margin-right: 1rem;
        }
      }

      &.github {
        background-color: #6c757d;

        @include mobile {
          margin-bottom: 1rem;
        }
      }

      svg,
      g {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        fill: $text;
      }

      svg {
        margin-right: 0.5rem;
      }

      &:hover {
        &.github,
        &.website {
          filter: brightness(0.8);
        }
      }
    }
  }

  &__body {
    filter: $drop-shadow;
    display: contents;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $text;
    width: 100%;
  }

  &__category {
    font-size: 1.3rem;
    font-weight: 500;
    color: $secondary;
    text-shadow: 0 0 1px $primary;
    width: fit-content;

    @include mobile {
      margin-bottom: 0.5rem;
      padding-bottom: 0.25rem;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: $text;
    width: 100%;
  }

  &__section {
    margin-bottom: 1rem;

    h4 {
      display: flex;
      align-items: center;

      .btn-container-tech {
        display: flex;
        align-items: center;

        .btn-add-tech {
          margin-left: 10px;
        }
      }
    }

    p {
      font-size: 1.1rem;
      font-weight: 400;
      color: $text;
    }

    ul {
      margin-left: 2rem;
      margin-bottom: 0;

      li {
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 0.3rem;
        list-style-type: none;
        color: $text;

        &::before {
          content: "•";
          color: $secondary;
          width: 1rem;
          display: inline-block;
          margin-left: -1rem;
        }
      }
    }
  }

  &__tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
    cursor: default;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0.3rem;
      filter: drop-shadow(2px 4px 6px #000);

      transform: scale(0.75);

      &:hover {
        span {
          position: absolute;
          display: flex;
          width: max-content;
          font-size: 1.2rem;
          font-weight: 700;
          color: $secondary;
          background-color: #990033;
          padding: 0.3rem 0.5rem;
          transform: translateY(-125%);
          border-radius: 10px;
        }
      }
    }

    svg {
      height: 3rem;
      margin-bottom: 0.5rem;
    }

    span {
      display: none;
    }
  }

  pre {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    background-color: #ffffff18;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: scroll;
  }

  &__index {
    display: flex;
    flex-direction: column;
  }

  h4 {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: $text;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
    background-color: #ffffff18;
    padding-left: 0.5rem;
    border-radius: 5px;
    width: calc(100% + 1rem);
    transform: translateX(-0.5rem);
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  &__image {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;

    img {
      width: 90%;
      height: 90%;
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: top;
    }
  }

  &__media-title {
    margin-bottom: 1rem;
  }
}

.view-images-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .view-images-btn {
    width: 80%;
    padding: 0.8rem 0;
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: #223;
    color: $text;
    font-weight: 600;
    border-color: $text;
  }
}

.project-detail__videos {

  .videos-list {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;

    video {
      min-width: 260px;
    }
  }

  .video-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff1;
    width: 100%;
    border-radius: 0 0 10px 10px;

    .video-info {
      padding: 0.8rem 1rem;
    }
  }
}

.this-site-link {
  display: flex;
  position: fixed;
  transform: translateX(-50%);
  top: 50%;
  left: 50%;
  font-size: 5rem;
  font-weight: 600;
  background-color: #4f0f1f;
  padding: 0.2rem 1.5rem;
  border-radius: 2rem;

  &.hide {
    display: none;
  }
}

.highlight {
  background-color: #00000000 !important;
}