@use '../../App.scss' as *;

.project-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 4rem;
  padding-top: 1rem;

  .btn-back {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 1.25rem;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    &:hover{
      cursor: pointer;
    }

    @include desktop {
      display: none;
    }

    svg {
      height: 4rem;
      width: 2rem;
      cursor: pointer;
      fill: #ff5555;
      filter: drop-shadow(0 0 1px #ff5555);
    }

    div {
      font-weight: 700;
      color: #e1e1e1;
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 0.2rem 0.5rem;
      border-radius: 20px;
      width: 8rem;
      color: #fff;
      border: 1px outset #0004;

      &.website {
        margin-bottom: 1rem;
        background-color: #e63946;
      }

      &.github {
        background-color: #6c757d;
      }

      svg,
      g {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
        fill: #fff;
      }

      svg {
        margin-right: 0.5rem;
      }

      &:hover {
        &.github,
        &.website {
          color: #ccc;
        }

        &.github {
          background-color: #5a6268;
        }

        &.website {
          background-color: #cc0000;
        }

        svg,
        g {
          fill: #ccc;
        }
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__category {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: $white;
  }

  &__section {
    margin-bottom: 1rem;

    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    ul {
      margin-left: 2rem;
      margin-bottom: 1rem;

      li {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.3rem;
        color: $white;
        list-style-type: disc;
      }
    }
  }

  &__tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;

    &-item {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 400;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.3rem 0.8rem;
      border-radius: 8px;
      background-color: #444;

      transform: scale(0.75);
    }

    svg {
      height: 2rem;
      margin-right: 0.1rem;
    }

    span {
      font-size: 1.25rem;
      font-weight: 500;
      color: $white;

      padding: 0.5rem 0.5rem;
      border-radius: 8px;
      background-color: #444;
    }
  }
  
  &__apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;

    h4 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 1rem;
      color: $white;
    }
  }

  pre {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    background-color: #444;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: scroll;
  }
}