@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=block');

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=block');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=block');

$background: #1b1b1b;
$text: #f0f0f0;
$text2: #c0c0c0;
$text3: #e1e1e1;
$primary: #cd3c3c;
$primary-gradient: linear-gradient(210deg, #cd3c3ccc 10%, #d24d4b 90%);
$secondary: #e9bb18;
$secondary-gradient: linear-gradient(210deg, #d9aa08cc 10%, #e9aa08 90%);
$tertiary: #40b153;
$tertiary-gradient: linear-gradient(210deg, #2e8b57cc 10%, #6ea05a 90%);
$container: #262626;
$subcontainer: #323232;
$highlight: #ffffff25;
$placeholder: #d5d5d5;
$border: #555;
$input: #444;
$overlay: #000d;
$blend: #777;

$drop-shadow: drop-shadow(2px 4px 6px #0f0f0f);
$drop-shadow2: drop-shadow(4px 6px 6px #000);

$mobile-width: 599.98px;
$tablet-width: 991.98px;
$desktop-width: 992px;
$box-shadow: 0 0 10px 0 #000;

$font-family: "Readex Pro", sans-serif;
$font-family-2: "Montserrat", sans-serif;
$font-family-3: "Outfit", sans-serif;

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin flex($alignin-item, $justify-content, $flex-direction: row) {
  display: flex;
  align-items: $alignin-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $border;
  border-radius: 0.5rem;
  border: 2px solid $background;

  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  text-rendering: geometricPrecision;
  font-kerning: normal;

  @include tablet {
    font-size: 90%;
  }

  @include mobile {
    font-size: 80%;
  }

  overflow-wrap: break-word;
  color: $text;
  background-color: $background !important;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: normal;
}

main {
  width: 100%;
  max-width: 1440px;
  min-height: 100dvh;
  padding: 4rem 0 0 0;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    padding: 4rem 0;
  }
}

section {
  max-width: 600px;
  padding: 0 1.5rem;

  &.fixed {
    @include desktop {
      width: 45%;
      position: fixed;
      z-index: 1;
      height: calc(100dvh - 16rem);
    }
  }

  &.placeholder {
    @include tablet {
      display: none;
    }
  }

  @include tablet {
    width: 100%;
    margin: auto;
    padding: 0 2rem;
  }

  @include mobile {
    padding: 0 1rem;
  }
}

aside {
  width: 55%;
  max-width: 720px;
  padding: 0 1.5rem;

  @include tablet {
    width: 100%;
    margin: auto;
    padding: 0 2rem;
    max-width: 600px;
  }

  @include mobile {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  
}

.title-2 {
  font-size: 2rem;
  font-weight: 600;
  
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  
}

.subtitle-2 {
  font-size: 1.25rem;
  font-weight: 500;
  
}

.subtitle-3 {
  font-size: 1rem;
  font-weight: 500;
}