@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$black: #0f0f0f;
$black2: #1f1f1fcc;
$black3: #333333aa;
$red: #DE5F3C;
$red2: #DE5F3Ccc;
$red3: #DE5F3C88;
$white: #f0f0f0;
$white2: #f0f0f0cc;
$white3: #f0f0f0aa;
$yellow: #f5c518;
$yellow2: #f5c518cc;

$mobile-width: 599.98px;
$tablet-width: 991.98px;
$desktop-width: 992px;
$box-shadow: 0 0 10px 0 #33333388;

$font-family: "Montserrat", sans-serif;

@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop-width) {
    @content;
  }
}

@mixin flex($alignin-item, $justify-content, $flex-direction: row) {
  display: flex;
  align-items: $alignin-item;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

::-webkit-scrollbar-track {
  background-color: $black;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $black;
}

::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 0.5rem;
  border: 2px solid $black;

  &:hover {
    background-color: $red2;
    border: 1px solid $red2;
  }
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;
  overflow-y: scroll;

  @include tablet {
    font-size: 90%;
  }

  @include mobile {
    font-size: 80%;
  }

  overflow-wrap: break-word;
}

body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: normal;

  color: $white;
  background-color: #0f0f0f;
}

main {
  width: 100%;
  max-width: 1440px;
  min-height: 100dvh;
  padding: 4rem 0 0 0;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    padding: 4rem 0;
  }
}

section {
  max-width: 600px;
  padding: 0 1.5rem;

  &.fixed {
    @include desktop {
      width: 45%;
      position: fixed;
      z-index: 1;
      height: calc(100dvh - 16rem);
    }
  }

  &.placeholder {
    @include tablet {
      display: none;
    }
  }

  @include tablet {
    width: 100%;
    margin: auto;
    padding: 0 2rem;
  }

  @include mobile {
    padding: 0 1rem;
  }
}

aside {
  width: 55%;
  max-width: 720px;
  padding: 0 1.5rem;

  @include tablet {
    width: 100%;
    margin: auto;
    padding: 0 2rem;
    max-width: 600px;
  }

  @include mobile {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  
}

.title-2 {
  font-size: 2rem;
  font-weight: 600;
  
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  
}

.subtitle-2 {
  font-size: 1.25rem;
  font-weight: 500;
  
}

.subtitle-3 {
  font-size: 1rem;
  font-weight: 500;
  
}