@use '../../App.scss' as *;


section.portfolio.fixed {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @include desktop {
    width: 35%;
    max-width: 400px;
    top: 4rem;
    height: calc(100vh - 4rem);
  }

  @include tablet {
    display: none;

    &.active {
      display: flex;
      width: 100%;
      max-width: 600px;
      top: 4rem;
      height: calc(100vh - 8rem);
    }
  }

  div.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    overflow: hidden;
  }
}

aside.portfolio {
  width: 65%;
  max-width: 920px;
  
  @include tablet {
    display: none;

    &.active {
      display: flex;
      width: 100%;
      max-width: auto;
      top: 4rem;
    }
  }
}

// ADMIN CONTROLS
.admin-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0.8rem;
  right: 0;
  z-index: 9999;
  height: 2.5rem;
  width: 2.5rem;

  @include tablet {
    right: 1rem;
  }

  .admin-button {
    height: 0;
    background-color: transparent;
    border-style: solid;
  
    border-color: transparent transparent goldenrod transparent;
    border-width: 0 16px 16px 16px;

    &.show {
      border-color: goldenrod transparent transparent transparent;
      border-width: 16px 16px 0 16px;
    }
  }
}


.admin-nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background-color: #0f0f0f;
  box-shadow: 0 0 1px 1px #fff2;
  height: 4rem;
  padding: 0 15px;
  border-radius: 10px 10px 0 0;

  &.hidden {
    display: none;
  }

  div {
    display: flex;

    .btn-add {
      margin: 0.5rem;
      padding: 0.3rem 0.5rem;
      border-radius: 10px;
      background-color: #ffe150aa;
      border-color: #ffe150aa;
      height: fit-content;
      font-size: 1rem;
    }
  }
}