@use '../../App.scss' as *;


section.portfolio.fixed {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  @include desktop {
    width: 35%;
    max-width: 400px;
    top: 4rem;
    height: calc(100vh - 4rem);
  }

  @include tablet {
    display: none;

    &.active {
      display: flex;
      width: 100%;
      max-width: 600px;
      top: 4rem;
      height: calc(100vh - 8rem);
    }
  }

  div.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100%;
    overflow: hidden;
  }
}

aside.portfolio {
  width: 65%;
  max-width: 920px;
  
  @include tablet {
    display: none;

    &.active {
      display: flex;
      width: 100%;
      max-width: auto;
      top: 4rem;
    }
  }
}

// ADMIN CONTROLS
.admin-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 4rem;
  left: 50%;
  z-index: 9999;
  height: 2.5rem;
  width: 2.5rem;
  transform: translate(-50%, 0);
  transition: transform 0.1s linear 0s;
  background-color: #2228;
  border: 1px solid #333;
  border-radius: 10px 10px 0 0;
  border-bottom-width: 0;
  padding: 0 30px;

  @include tablet {
    bottom: 50%;
    left: 8rem;
    transform: translate(0, 50%);
    padding: 30px 15px 30px 15px;
    border-radius: 0 10px 10px 0;
    border-bottom-width: 1px;
    border-left-width: 0;
  }

  .admin-button {
    height: 0;
    background-color: transparent;
    border-style: solid;
  
    border-color: #ffe150aa transparent transparent transparent;
    border-width: 16px 16px 0 16px;

    @include tablet {
      border-color: transparent #ffe150aa transparent transparent;
      border-width: 16px 16px 16px 0;
    }
  }
  &.show {
    transform: translate(-50%, 4rem);

    @include tablet {
      bottom: 50%;
      transform: translate(-8rem, 50%);
    }

    .admin-button {
      border-color: transparent transparent #ffe150aa transparent;
      border-width: 0 16px 16px 16px;

      @include tablet {
        border-color: transparent transparent transparent #ffe150aa;
        border-width: 16px 0 16px 16px;       
      }
    }
  }
}


.admin-nav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  background-color: #2225;
  border: 1px solid #333;
  height: 4rem;
  padding: 0 15px;
  border-radius: 10px 10px 0 0;
  transition: transform 0.1s linear 0s;

  @include tablet {
    flex-direction: column;
    height: auto;
    width: 8rem;
    bottom: 50%;
    padding: 15px 0px;
    transform: translate(0, 50%);

    border-radius: 0 10px 10px 0;
  }

  .admin-button-list {
    display: flex;

    @include tablet {
      flex-direction: column;
    }
  }

  &.hidden {
    transform: translate(0, 4rem);

    @include tablet {
      bottom: 50%;
      transform: translate(-8rem, 50%);
    }
  }

  div {
    display: flex;

    .btn-add {
      margin: 0.5rem;
      padding: 0.3rem 0.5rem;
      border-radius: 10px;
      background-color: #ffe150aa;
      border-color: #ffe150aa;
      height: fit-content;
      font-size: 1rem;
      width: 6rem;

      @include tablet {
        margin: 0.5rem 0;
      }
    }
  }
}